<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDPCgKB8M6OXM2d5EVn2aC5vo5rgYFNgg8</string>
	<key>GCM_SENDER_ID</key>
	<string>991979629892</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.sepHcms</string>
	<key>PROJECT_ID</key>
	<string>sep-hcms-89a9b</string>
	<key>STORAGE_BUCKET</key>
	<string>sep-hcms-89a9b.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:991979629892:ios:5427fbfdd02c0b1c60bb11</string>
</dict>
</plist>